<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stilen"/>
    <title>Document</title>
</head>
<body>
    <form action="/messages" method="post">
        <input type="email" name="email" placeholder="example@email.com">
        <input type="text" name="message" placeholder="message">
        <button type="submit">Okej</button>
    </form>

    <% for( let i = 0; i < names.length; i++ ) { %>
        <h1><%- names[i].email %> </h1>
        <p><%- names[i].messageType %> </p>
    <% } %>
    
</body>
</html>

