<!--<div class="row">
    <div class="col-md-4 mx-auto sign-up">
        <h1>Sign In</h1>
        {{# if hasErrors}}
        <div class="alert alert-danger" role="alert">
            {{# each messages }}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div> -->

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Sign in</h3>
            <h1 style="text-align: center; color: gray; margin-top: 30px;"><i class="fas fa-user-alt-slash"
                    style="font-size: 80px;"></i></h1>
            <div class="card-text">
                {{# if hasErrors}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{# each messages }}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form action="/user/signin" method="post" class="account-form">
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control form-control-sm" id="email"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <input type="password" name="password" class="form-control form-control-sm" id="password">
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button type="submit" class="btn btn-primary btn-block account-btn">Sign in</button>

                    <div class="sign-up">
                        Don't have an account? <a href="/user/signup">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>